[submodule "helix"]
	path = helix
	url = https://github.com/retrofoundry/helix.git
[submodule "corrosion"]
	path = corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "sm64synth"]
	path = sm64synth
	url = https://gitlab.com/DeKrain/sm64synth
